* {
    margin: 0;
    padding: 0;
}

.bdiv {

    display: flex;
    flex-direction: row-reverse;
    gap: 35vw;
    padding: 17px;
    padding-top: 8px;
    height: 10vh;
    width: 80vw;

    margin: auto;
    padding: 0;

}

.cdiv {
    width: 30vw;
    height: 10vh;
    
    color: red;

}
.nav{
    height: 77px;
    width: 999px;
    background-color: red;
}
.box {
    height:100vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}







.parent {
position: relative;
background-image: url(bg.jpg);
    
    background-size: cover;

    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.logo {
    padding-top: 33px;
    height: 60px;
    width: 200px;
}


.button {

    gap: 22px;
    display: flex;
    flex-direction: row;
}

#english {
    color: white;
    border-radius: 9px;
    margin-top: 23px;
    height: 60px;
    width: 200px;
    background: rgb(69, 46, 46);



}

#img{
    padding-top: px;
}

#sign {
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 23px;
    width: 120px;
    height: 60px;
    padding: 10px;

    background-color: red;
}

.content {
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    
    text-overflow: clip;

    width: 50vw;
    height: 60vh;
    background: transparent;
   
    color: white;
    font-size: 50px;
    margin: 99px;
    font-weight: 700;
    margin-top: 180px;
    margin-left: 300px;


}

h6 {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    margin-top: 13px;
    font-size: 27px;
}

.text {
    margin-top: 7vh;

    text-align: center;
    height: 22px;
    width: 50vw;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: white;
    text-align: center;
  
    font-size: 12px;
    text-overflow: clip;

}

h3.contents {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 85px;
}
.email{
font-size: 30px;
padding-left: 0px;
    margin-top: 33px;
    background: rgb(46, 36, 36);
    height: 70px;
    width: 500px;
}

.strtbtn{

    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 23px;
    width: 160px;
    height: 60px;
    padding: 10px;
font-size: 19px;
padding-bottom: 50px;
    background-color: red;
}

